## Numbers

This will be some notes about numbers

In [2]:
123

123

In [3]:
1.23

1.23

In [4]:
4 / 5

0.8

In [12]:
0.9 * 10 * 99

891.0

In [15]:
0.9 * 99 * 10

891.0000000000001

In [16]:
2 + 2

4

In [17]:
2 - 3

-1

## Strings

In [18]:
'single quote string'

'single quote string'

In [19]:
"doubled quoted string"

'doubled quoted string'

In [20]:
"""triple quoted string"""

'triple quoted string'

In [23]:
"concatenate" + " strings"

'concatenate strings'

In [25]:
' '.join(['this', 'makes', 'a', 'string'])

'this makes a string'

In [26]:
"string1" "string2"

'string1string2'

In [27]:
("string1"
 "string2"
 "string3")

'string1string2string3'

In [28]:
str(1234)

'1234'

In [29]:
'{} {}'.format(1234, 'string1')

'1234 string1'

In [30]:
'{1} {0}'.format(1234, 'string1')

'string1 1234'

In [36]:
'{0:.2f}'.format(0.9 * 99 * 10)

'891.00'

## Booleans

In [38]:
True

True

In [39]:
False

False

In [40]:
true

NameError: name 'true' is not defined

In [41]:
4 > 5

False

In [42]:
5 >= 5

True

In [43]:
3 == 4

False

In [44]:
3 == 3

True

In [45]:
'hello' > 'goodbye'

True

## Variables

In [50]:
drinks = 'pina coladas'

In [53]:
d = 'pina coladas'
print(d)

pina coladas

In [56]:
# these are drinks
d = 'pina coladas'

In [57]:
value = 0

In [58]:
value += 1

In [59]:
value

1

In [60]:
value = value + 1

In [61]:
value

2

In [63]:
def add_two_numbers(first_number, second_number):
    return first_number * second_number

In [64]:
add_two_numbers(2, 3)

6

In [65]:
value

2

In [66]:
value -= 1

In [67]:
value

1

In [68]:
value -= 10

In [69]:
value

-9

In [70]:
adder = 4

In [71]:
value += adder

In [72]:
value

-5

## Input & Output

In [73]:
drink = input('Enter a drink name: ')

Enter a drink name: pina coladas

In [74]:
drink

'pina coladas'

In [75]:
print(drink)

pina coladas

In [76]:
print(drink, drink, drink)

pina coladas pina coladas pina coladas

In [77]:
print('Drinks:', drink)

Drinks: pina coladas

In [78]:
print('x:', x)

x: pina coladas

In [80]:
print(drink, drink, drink, sep='... ')

pina coladas... pina coladas... pina coladas

In [82]:
print('x', end='')
print('y', end='')
print('z', end='')

xyz

In [83]:
print('x')
print('y')
print('z')

x
y
z

In [87]:
result = 0.9 * 99 * 10
print('the result of 0.9 * 99 * 10 is {0:.2f}'.format(result))

the result of 0.9 * 99 * 10 is 891.00

In [90]:
print([1, 2, 3, 4])

[1, 2, 3, 4]

## Control Flow

In [92]:
if 2 == 2:
    print('two equals two')
elif 3 == 3:
    print('three equals three')

two equals two

In [99]:
counter = 0
while True:
    counter += 1
    print(counter)
    if counter == 10:
        break
print('counter:', counter)

1
2
3
4
5
6
7
8
9
10
counter: 10

In [97]:
counter

10

In [106]:
counter = 0
while True:
    counter += 1
    if counter >= 10:
        break
    if counter % 2 == 1:
        continue
    print(counter)
print('broke out of loop')

2
4
6
8
broke out of loop

In [107]:
counter = 0
while counter <= 10:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

In [108]:
2 < 3

True

In [109]:
'pina coladas'.startswith('pina')

True

In [110]:
'pina coladas'.startswith('coladas')

False

In [111]:
'pina coladas'.endswith('adas')

True

In [113]:
name = 'bryce'
if name.startswith('br'):
    print('name starts with br')

name starts with br

In [114]:
name = input('whats your name? ')
if name.startswith('br'):
    print('hello ' + name)
else:
    print('good day ' + name)

whats your name? blake
good day blake

## Type Conversions

In [115]:
str(1234)

'1234'

In [116]:
float(1234)

1234.0

In [117]:
float('1234')

1234.0

In [118]:
float('potato')

ValueError: could not convert string to float: 'potato'

In [119]:
float('1234.potato')

ValueError: could not convert string to float: '1234.potato'

In [120]:
int('1234')

1234

In [121]:
float(int('1234'))

1234.0

In [122]:
value = input()

1234

In [123]:
value

'1234'

In [124]:
value = float(input())

1234

In [125]:
value

1234.0

In [126]:
value = float(input())

potato

ValueError: could not convert string to float: 'potato'