In [1]:
drinks = 'pina coladas'
truthy = True
my_list = [drinks, 123, 123.456, [123, [456, 678]], None, truthy, False]

In [2]:
my_list

['pina coladas', 123, 123.456, [123, [456, 678]], None, True, False]

In [3]:
new_list = [my_list]
print(new_list)

[['pina coladas', 123, 123.456, [123, [456, 678]], None, True, False]]

In [4]:
my_list[0]

'pina coladas'

In [5]:
my_list[3]

[123, [456, 678]]

In [6]:
inner_list = my_list[3]

In [7]:
inner_list[1]

[456, 678]

In [8]:
my_list[3][1]

[456, 678]

In [9]:
my_list

['pina coladas', 123, 123.456, [123, [456, 678]], None, True, False]

In [10]:
del my_list[4]

In [11]:
my_list

['pina coladas', 123, 123.456, [123, [456, 678]], True, False]

In [12]:
del(my_list[4])

In [13]:
my_list

['pina coladas', 123, 123.456, [123, [456, 678]], False]

In [14]:
this_is_nothing = None

In [15]:
this_is_nothing

In [17]:
empty_string = ''
empty_list = []

In [20]:
if this_is_nothing:
    print('this is nothing is truthy')
else:
    print('this is nothing is falsy')

this is nothing is falsy

In [22]:
if not this_is_nothing:
    print('this is nothing is truthy')
else:
    print('this is nothing is falsy')

this is nothing is truthy

In [25]:
if empty_string:
    print('empty_string is truthy')
else:
    print('empty_string is falsy')

empty_string is falsy

In [26]:
if empty_list:
    print('empty_list is truthy')
else:
    print('empty_list is falsy')

empty_list is falsy

In [27]:
number_zero = 0
if number_zero:
    print('number_zero is truthy')
else:
    print('number_zero is falsy')

number_zero is falsy

In [30]:
not_empty_list = [0]
if not_empty_list:
    print('not_empty_list is truthy')
else:
    print('not_empty_list is falsy')

not_empty_list is truthy

In [35]:
not_empty_string = 'a'
if not_empty_string:
    print('not_empty_string is truthy')
else:
    print('not_empty_string is falsy')

not_empty_string is truthy

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list(range(50, 61))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [44]:
my_list

['pina coladas', 123, 123.456, [123, [456, 678]], False]

In [50]:
my_list[1:3]

[123, 123.456]

In [51]:
my_list[2:]

[123.456, [123, [456, 678]], False]

In [52]:
len(my_list)

5

In [53]:
my_list[:6]

['pina coladas', 123, 123.456, [123, [456, 678]], False]

In [54]:
my_list[:20]

['pina coladas', 123, 123.456, [123, [456, 678]], False]

In [55]:
my_list[-1:]

[False]

In [57]:
my_list[-1:-3:-1]

[False, [123, [456, 678]]]

In [58]:
my_list[::-1]

[False, [123, [456, 678]], 123.456, 123, 'pina coladas']

In [65]:
my_list.reverse()
print(my_list)

[False, [123, [456, 678]], 123.456, 123, 'pina coladas']

In [67]:
my_list[1].reverse()
print(my_list)

[False, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [68]:
len('words and more words')

20

In [69]:
len((1, 2, 3))

3

In [70]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(len(my_dict))

2

In [71]:
my_list

[False, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [72]:
my_list.insert(0, True)

In [73]:
my_list

[True, False, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [74]:
del my_list[0]

In [75]:
my_list

[False, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [76]:
my_list[0] = True

In [77]:
my_list

[True, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [78]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [79]:
help(my_list)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [80]:
my_list

[True, [[456, 678], 123], 123.456, 123, 'pina coladas']

In [81]:
my_list[1] = []

In [82]:
my_list

[True, [], 123.456, 123, 'pina coladas']

In [83]:
drinks

'pina coladas'

In [84]:
my_list.append(drinks)

In [85]:
my_list

[True, [], 123.456, 123, 'pina coladas', 'pina coladas']

In [86]:
len(my_list)

6

In [87]:
min(my_list)

TypeError: unorderable types: list() < bool()

In [88]:
my_list = [123, True]

In [89]:
min(my_list)

True

In [90]:
max(my_list)

123

In [91]:
sum([1, 2, 3, 4])

10

In [92]:
sum(['cat', 'dog', 'fish'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [93]:
my_list = [5, 3, 2, 6, 7, 9, 1]
my_list.sort()

In [94]:
my_list

[1, 2, 3, 5, 6, 7, 9]

In [95]:
students = ["greg", "trisha", "ryan", "stacy"]

In [96]:
for name in students:
    print(name)

greg
trisha
ryan
stacy

In [97]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

## Functions

In [98]:
def add_two_numbers(a, b):
    return a + b

In [100]:
def is_truthy():
    return True

if is_truthy():
    print('it is truthy')

it is truthy

In [101]:
def has_zero(value):
    return '0' in value

if has_zero('asdf'):
    print('asdf has zero')

In [102]:
if has_zero('asdf0'):
    print('asdf0 has zero')

asdf0 has zero

In [103]:
value = 'asdf'

In [104]:
'0' in value

False

In [105]:
value = 'asdf0'
print('0' in value)

True

In [106]:
def uppercase(value):
    return value.upper()

In [107]:
uppercase('asdf')

'ASDF'

In [108]:
def append_pina_coladas(list):
    list.append('pina coladas')

In [109]:
drinks = ['margarita', 'moonshine']

In [110]:
drinks

['margarita', 'moonshine']

In [111]:
append_pina_coladas(drinks)

In [112]:
drinks

['margarita', 'moonshine', 'pina coladas']

In [113]:
def get_zero():
    return 0

In [114]:
get_zero()

0

In [115]:
def add_three_numbers(a, b, c):
    return a + b + c

In [116]:
add_three_numbers(1, 2, 3)

6

In [117]:
def do_something(boolean_value, number_value, string_value):
    if boolean_value:
        return number_value
    else:
        return string_value

In [118]:
do_something(True, 123, 'pina coladas')

123

In [119]:
do_something(False, 123, 'pina coladas')

'pina coladas'

In [120]:
do_something(
    boolean_value=False,
    number_value=123,
    string_value='pina coladas')

'pina coladas'

In [121]:
do_something(
    string_value='pina coladas',
    boolean_value=False,
    number_value=123)

'pina coladas'

In [122]:
def add_two_numbers(a, b=100):
    return a + b

In [123]:
add_two_numbers(1)

101

In [124]:
add_two_numbers(1, 2)

3

In [125]:
add_two_numbers()

TypeError: add_two_numbers() missing 1 required positional argument: 'a'

In [126]:
def add_two_numbers(a=1, b=2):
    return a + b

In [127]:
add_two_numbers()

3

In [128]:
def add_two_numbers(a=100, b):
    return a + b

SyntaxError: non-default argument follows default argument (<ipython-input-128-8edb18876a58>, line 1)

In [129]:
super_hero = 'Batman'

def destroy_villain():
    super_hero = 'Ironman'
    print(super_hero + ' will destroy the villain!')

def save_city():
    print(super_hero + ' is coming to save the day!')

destroy_villain()

save_city()

Ironman will destroy the villain!
Batman is coming to save the day!

In [130]:
drinks

['margarita', 'moonshine', 'pina coladas']

In [131]:
def add_water(list):
    list.append('water')

def add_manhattan(list):
    list.append('manhattan')

def add_milk():
    drinks.append('milk')

def add_oj():
    drinks.append('oj')

In [132]:
drinks

['margarita', 'moonshine', 'pina coladas']

In [133]:
add_water(drinks)

In [134]:
drinks

['margarita', 'moonshine', 'pina coladas', 'water']

In [135]:
add_manhattan(drinks)
print(drinks)

['margarita', 'moonshine', 'pina coladas', 'water', 'manhattan']

In [137]:
add_milk()
print(drinks)

['margarita', 'moonshine', 'pina coladas', 'water', 'manhattan', 'milk']

In [138]:
add_oj()
print(drinks)

['margarita', 'moonshine', 'pina coladas', 'water', 'manhattan', 'milk', 'oj']

In [139]:
drinks2 = ['coke']

In [140]:
del drinks

In [141]:
add_oj()

NameError: name 'drinks' is not defined

In [142]:
add_manhattan(drinks2)

In [144]:
drinks2

['coke', 'manhattan']

## Sum Exercise

In [145]:
def sum(list_of_numbers):
    total = 0
    
    for number in list_of_numbers:
        total += number
    
    return total

In [147]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
sum(range(1, 11))

55

In [149]:
sum(range(123, 1075))

569772

In [150]:
def sum_multiples_of_3_or_5(list_of_numbers):
    total = 0
    for item in list_of_numbers:
        if item % 3 == 0:
            total += item
        elif item % 5 == 0:
            total += item
    return total

In [151]:
sum_multiples_of_3_or_5(range(1, 10))

23

In [152]:
sum_multiples_of_3_or_5(range(1, 1000))

233168