## Sets

In [2]:
a_list = ['apple', 'apple', 32, 32, 'orange', 'orange', 'kiwi', 'kiwi', 32, 32]

In [4]:
my_set = set(a_list)

In [5]:
my_set

{32, 'orange', 'kiwi', 'apple'}

In [6]:
my_set.add('monkey')

In [7]:
my_set

{32, 'monkey', 'orange', 'kiwi', 'apple'}

In [8]:
my_set.add('monkey')

In [9]:
my_set

{32, 'monkey', 'orange', 'kiwi', 'apple'}

In [10]:
my_frozen_set = frozenset(a_list)

In [11]:
my_frozen_set

frozenset({32, 'orange', 'kiwi', 'apple'})

In [12]:
my_frozen_set.add('monkey')

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
unfrozen_set = set(my_frozen_set)

In [14]:
unfrozen_set

{32, 'orange', 'kiwi', 'apple'}

In [15]:
unfrozen_set.add('monkey')

In [16]:
unfrozen_set

{32, 'monkey', 'orange', 'kiwi', 'apple'}

In [18]:
my_frozen_set

frozenset({32, 'orange', 'kiwi', 'apple'})

In [19]:
drinks = {'pina colada', 'manhattan', 'manhattan'}

In [20]:
drinks

{'manhattan', 'pina colada'}

In [21]:
len(drinks)

2

In [22]:
len(my_frozen_set)

4

In [23]:
for drink in drinks:
    print(drink)

pina colada
manhattan

In [24]:
my_set = set({'pina colada', 'manhattan'})

In [25]:
my_set

{'manhattan', 'pina colada'}

In [29]:
{'first value', frozenset({'thign1', 'thing2'}), 'another value'}

{'first value', frozenset({'thign1', 'thing2'}), 'another value'}

In [30]:
(1, 1, 1, 1)

(1, 1, 1, 1)

In [31]:
tuple(set((1, 1, 1, 1)))

(1,)

In [41]:
set1 = set(["cat", "dog"])     # Initialize set from a list
set2 = set(["dog", "mouse"])
set3 = set1 & set2             # Intersection
set4 = set1 | set2             # Union
set5 = set1 - set2             # Set difference
set6 = set1 ^ set2             # Symmetric difference

In [33]:
set1

{'cat', 'dog'}

In [34]:
set2

{'dog', 'mouse'}

In [35]:
set3

{'dog'}

In [36]:
set4

{'cat', 'dog', 'mouse'}

In [42]:
set5

{'cat'}

In [38]:
set6

{'cat', 'mouse'}

In [39]:
set1

{'cat', 'dog'}

In [40]:
set2

{'dog', 'mouse'}

## List Comprehensions

In [44]:
iterative_squares = []
for x in range(10):
    if x != 5:
        iterative_squares.append(x ** 2)

In [60]:
squares

[0, 1, 4, 9, 16, 36, 49, 64, 81]

In [46]:
iterative_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
squares = [x**2 for x in range(10) if x != 5]

In [48]:
def convert_to_string_and_add_puppy(value):
    return '{} puppy'.format(value)

In [57]:
puppies = [convert_to_string_and_add_puppy(value)
           for value in ['yellow', 'blue', 'green'] if value != 'blue']

In [58]:
puppies

['yellow puppy', 'green puppy']

In [55]:
puppies = []
for value in ['yellow', 'blue', 'green']:
    if value != 'blue':
        puppies.append(convert_to_string_and_add_puppy(value))

In [56]:
puppies

['yellow puppy', 'green puppy']

In [61]:
[(x**2, y**2) for x in range(10) for y in range(20)]

[(0, 0),
 (0, 1),
 (0, 4),
 (0, 9),
 (0, 16),
 (0, 25),
 (0, 36),
 (0, 49),
 (0, 64),
 (0, 81),
 (0, 100),
 (0, 121),
 (0, 144),
 (0, 169),
 (0, 196),
 (0, 225),
 (0, 256),
 (0, 289),
 (0, 324),
 (0, 361),
 (1, 0),
 (1, 1),
 (1, 4),
 (1, 9),
 (1, 16),
 (1, 25),
 (1, 36),
 (1, 49),
 (1, 64),
 (1, 81),
 (1, 100),
 (1, 121),
 (1, 144),
 (1, 169),
 (1, 196),
 (1, 225),
 (1, 256),
 (1, 289),
 (1, 324),
 (1, 361),
 (4, 0),
 (4, 1),
 (4, 4),
 (4, 9),
 (4, 16),
 (4, 25),
 (4, 36),
 (4, 49),
 (4, 64),
 (4, 81),
 (4, 100),
 (4, 121),
 (4, 144),
 (4, 169),
 (4, 196),
 (4, 225),
 (4, 256),
 (4, 289),
 (4, 324),
 (4, 361),
 (9, 0),
 (9, 1),
 (9, 4),
 (9, 9),
 (9, 16),
 (9, 25),
 (9, 36),
 (9, 49),
 (9, 64),
 (9, 81),
 (9, 100),
 (9, 121),
 (9, 144),
 (9, 169),
 (9, 196),
 (9, 225),
 (9, 256),
 (9, 289),
 (9, 324),
 (9, 361),
 (16, 0),
 (16, 1),
 (16, 4),
 (16, 9),
 (16, 16),
 (16, 25),
 (16, 36),
 (16, 49),
 (16, 64),
 (16, 81),
 (16, 100),
 (16, 121),
 (16, 144),
 (16, 169),
 (16, 196),
 (16, 225),
 (16, 256),
 (16, 289),
 (16, 324),
 (16, 361),
 (25, 0),
 (25, 1),
 (25, 4),
 (25, 9),
 (25, 16),
 (25, 25),
 (25, 36),
 (25, 49),
 (25, 64),
 (25, 81),
 (25, 100),
 (25, 121),
 (25, 144),
 (25, 169),
 (25, 196),
 (25, 225),
 (25, 256),
 (25, 289),
 (25, 324),
 (25, 361),
 (36, 0),
 (36, 1),
 (36, 4),
 (36, 9),
 (36, 16),
 (36, 25),
 (36, 36),
 (36, 49),
 (36, 64),
 (36, 81),
 (36, 100),
 (36, 121),
 (36, 144),
 (36, 169),
 (36, 196),
 (36, 225),
 (36, 256),
 (36, 289),
 (36, 324),
 (36, 361),
 (49, 0),
 (49, 1),
 (49, 4),
 (49, 9),
 (49, 16),
 (49, 25),
 (49, 36),
 (49, 49),
 (49, 64),
 (49, 81),
 (49, 100),
 (49, 121),
 (49, 144),
 (49, 169),
 (49, 196),
 (49, 225),
 (49, 256),
 (49, 289),
 (49, 324),
 (49, 361),
 (64, 0),
 (64, 1),
 (64, 4),
 (64, 9),
 (64, 16),
 (64, 25),
 (64, 36),
 (64, 49),
 (64, 64),
 (64, 81),
 (64, 100),
 (64, 121),
 (64, 144),
 (64, 169),
 (64, 196),
 (64, 225),
 (64, 256),
 (64, 289),
 (64, 324),
 (64, 361),
 (81, 0),
 (81, 1),
 (81, 4),
 (81, 9),
 (81, 16),
 (81, 25),
 (81, 36),
 (81, 49),
 (81, 64),
 (81, 81),
 (81, 100),
 (81, 121),
 (81, 144),
 (81, 169),
 (81, 196),
 (81, 225),
 (81, 256),
 (81, 289),
 (81, 324),
 (81, 361)]

In [62]:
squares = []
for x in range(10):
    for y in range(20):
        squares.append((x ** 2, y ** 2))

(0, 0)
(0, 1)
(0, 4)
(0, 9)
(0, 16)
(0, 25)
(0, 36)
(0, 49)
(0, 64)
(0, 81)
(0, 100)
(0, 121)
(0, 144)
(0, 169)
(0, 196)
(0, 225)
(0, 256)
(0, 289)
(0, 324)
(0, 361)
(1, 0)
(1, 1)
(1, 4)
(1, 9)
(1, 16)
(1, 25)
(1, 36)
(1, 49)
(1, 64)
(1, 81)
(1, 100)
(1, 121)
(1, 144)
(1, 169)
(1, 196)
(1, 225)
(1, 256)
(1, 289)
(1, 324)
(1, 361)
(4, 0)
(4, 1)
(4, 4)
(4, 9)
(4, 16)
(4, 25)
(4, 36)
(4, 49)
(4, 64)
(4, 81)
(4, 100)
(4, 121)
(4, 144)
(4, 169)
(4, 196)
(4, 225)
(4, 256)
(4, 289)
(4, 324)
(4, 361)
(9, 0)
(9, 1)
(9, 4)
(9, 9)
(9, 16)
(9, 25)
(9, 36)
(9, 49)
(9, 64)
(9, 81)
(9, 100)
(9, 121)
(9, 144)
(9, 169)
(9, 196)
(9, 225)
(9, 256)
(9, 289)
(9, 324)
(9, 361)
(16, 0)
(16, 1)
(16, 4)
(16, 9)
(16, 16)
(16, 25)
(16, 36)
(16, 49)
(16, 64)
(16, 81)
(16, 100)
(16, 121)
(16, 144)
(16, 169)
(16, 196)
(16, 225)
(16, 256)
(16, 289)
(16, 324)
(16, 361)
(25, 0)
(25, 1)
(25, 4)
(25, 9)
(25, 16)
(25, 25)
(25, 36)
(25, 49)
(25, 64)
(25, 81)
(25, 100)
(25, 121)
(25, 144)
(25, 169)
(25, 196)
(25, 225)
(25, 256)
(25, 289)
(25, 324)
(25, 361)
(36, 0)
(36, 1)
(36, 4)
(36, 9)
(36, 16)
(36, 25)
(36, 36)
(36, 49)
(36, 64)
(36, 81)
(36, 100)
(36, 121)
(36, 144)
(36, 169)
(36, 196)
(36, 225)
(36, 256)
(36, 289)
(36, 324)
(36, 361)
(49, 0)
(49, 1)
(49, 4)
(49, 9)
(49, 16)
(49, 25)
(49, 36)
(49, 49)
(49, 64)
(49, 81)
(49, 100)
(49, 121)
(49, 144)
(49, 169)
(49, 196)
(49, 225)
(49, 256)
(49, 289)
(49, 324)
(49, 361)
(64, 0)
(64, 1)
(64, 4)
(64, 9)
(64, 16)
(64, 25)
(64, 36)
(64, 49)
(64, 64)
(64, 81)
(64, 100)
(64, 121)
(64, 144)
(64, 169)
(64, 196)
(64, 225)
(64, 256)
(64, 289)
(64, 324)
(64, 361)
(81, 0)
(81, 1)
(81, 4)
(81, 9)
(81, 16)
(81, 25)
(81, 36)
(81, 49)
(81, 64)
(81, 81)
(81, 100)
(81, 121)
(81, 144)
(81, 169)
(81, 196)
(81, 225)
(81, 256)
(81, 289)
(81, 324)
(81, 361)

In [65]:
{str(n): n ** 2 for n in range(5) if n != 3}

{'0': 0, '1': 1, '2': 4, '4': 16}

In [70]:
squared_uniques = {x ** 2 for x in [1, 1, 1, 2, 2, 2, 3, 3, 3] if x != 2}

In [71]:
squared_uniques

{1, 9}